In [1]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [4]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

In [5]:
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
#dt.date()
prev_year = dt.date(2017, 8, 23)
prev_year = dt.date(2017, 8, 28) - dt.timedelta(days=365)

NameError: name 'dt' is not defined

In [1]:
#2
results = session.query(Measurement.date, Measurement.prcp)
print(results.all())

NameError: name 'session' is not defined

In [2]:
filter(results)
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year)
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
print(results)

NameError: name 'results' is not defined

In [3]:
df = pd.DataFrame(results, columns=['date','precipitation'])
df.set_index(df['date'], inplace=True)
print(df)

NameError: name 'pd' is not defined

In [ ]:
print(df.to_string(index=False))

In [ ]:
df = df.sort_index()
print(df.to_string(index=False))

In [ ]:
df.plot()

In [ ]:
#xdf.describe(mean,mode,standard_deviation,percentiles)

In [ ]:
df.describe()

In [ ]:
session.query()
session.query(func.count(Station.station))
session.query(func.count(Station.station)).all()

In [ ]:
session.query()
session.query(Measurement.station, func.count(Measurement.station))
session.query(Measurement.station, func.count(Measurement.station)).\
    group_by(Measurement.station)

In [ ]:
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc())

In [ ]:
session.query(Measurement.station, func.count(Measurement.station)).\
group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

session.query()

In [ ]:
#  3. Convert the June temperatures to a list.

In [ ]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs))
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281')
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281').all()

In [ ]:
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281')

In [ ]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
results = session.query(Measurement.tobs).\
filter(Measurement.station == 'USC00519281').\
filter(Measurement.date >= prev_year).all()

In [ ]:
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs)).\
filter(Measurement.station == 'USC00519281').all()

In [ ]:
df = pd.DataFrame(results, columns=['tobs'])

In [ ]:
# temperature average
session.query()
session.query(func.min(Measurement.tobs), func.max(Measurement.tobs), func.avg(Measurement.tobs))

In [7]:
from flask import Flask

In [8]:
app = Flask(__name__)
@app.route('/')

@app.route('/')
def hello_world():
    return 'Hello world'

In [9]:
export FLASK_APP=app.py

SyntaxError: invalid syntax (1527676619.py, line 1)

In [10]:
set FLASK_APP=app.py

SyntaxError: invalid syntax (3280169772.py, line 1)

In [ ]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
df.plot.hist(bins=12)
plt.tight_layout()

In [11]:
import datetime as dt
import numpy as np
import pandas as pd

In [12]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [13]:
from flask import Flask, jsonify

In [ ]:
# 7. Convert the December temperatures to a list.

In [ ]:
# 8. Create a DataFrame from the list of temperatures for the month of December.

In [ ]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.